.ha-card {
    width: 100%;
}
.type-custom-ha-vpd-chart
{
    margin-bottom:5px;
}
.bar {
    box-shadow: inset 0 0 3em -1.2em rgba(0, 0, 0, 0.5);
    padding:15px;
    border-radius: 5px;
}
.bar span {
    border-left:1px solid #999999;
    padding-left:15px;
    padding-right:15px;
}
.bar span:first-child {
    border-left:0;
    padding-left:0;
}
.legend {
    box-shadow: inset 0 0 3em -1.2em rgba(0, 0, 0, 0.5);
    padding:15px;
}
.vpd-state {
    float:right;
    width:20px;
    height:20px;
    padding:0 !important;
    border-left:0 !important;
    border-radius: 5px;
}

.vpd-state-legend {
    padding:0 !important;
    border-left:0 !important;
}
.vpd-state-legend span:first-child {
    width:20px;
    height:20px;
    padding-left:15px;
    padding-right:5px;
    margin-right:5px;
}
.vpd-state-legend span:last-child {

    margin-right:5px;
}
.danger-zone {
    background-color: #ce4234;
}

.early-veg {
    background-color: #22ab9c;

}

.late-veg {
    background-color: #9cc55b;

}

.mid-late-flower {
    background-color: #e7c12b;
}

.under-transpiration {
    background-color: #1a6c9c;
}
/* style parent of under-transpiration border */
.vpd-state.under-transpiration::before {
    background: linear-gradient(-90deg, rgba(26,108,156,0.47) 0%, rgba(26, 108, 156, 0) 100%);
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    border-radius: 5px;
}
.vpd-state.danger-zone::before {
    /* gradient from this color to transparent */
    background: linear-gradient(-90deg, rgba(206,66,52,0.47) 0%, rgba(206, 66, 52, 0) 100%);
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 5px;
}