ha-card, ha-card .vpd-card-container {
    height: 100%;
    min-height: 400px;
    overflow:hidden;
}

body, html {
    font-family: "Segoe UI", Arial, sans-serif;
    font-size: 10px;
    margin: 0;
    padding: 0;
    height: 100%;
    position: relative;
}

.danger-zone {
    background-color: #ce4234;
}

.early-veg {
    background-color: #22ab9c;
}

.late-veg {
    background-color: #9cc55b;
}

.mid-late-flower {
    background-color: #e7c12b;
}

.under-transpiration {
    background-color: #1a6c9c;
}

table {
    width: 100%;
    height: 100%;
}

table, th, td {
    border: 1px solid rgba(255, 255, 255, 0.05);
    border-collapse: collapse;
}

th, td {
    text-align: center;
    min-width: 2px;
}

.highlight {
    position: relative;
    z-index: 2;
    background-color: white !important; /* oder eine andere Farbe Ihrer Wahl */
    color: #333333 !important;
    pointer-events: none;
}
.mousePointer {
    z-index:9999;
}
.mouse-custom-tooltip,
.custom-tooltip {
    bottom: 70%;
    margin-bottom: 5px;

    padding: 7px;
    width: max-content;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background-color: #000000;
    background-color: hsla(0, 0%, 20%, 0.9);
    color: #ffffff;
    text-align: center;
    font-size: 12px;
    line-height: 1.2;
    position: absolute;
}
.mouse-custom-tooltip {
    right: 10px;
    top: 10px;
    bottom:auto;
}

.vpd-table {
    display: table;
    width: 100%;
    height: 100%;
}

.row {
    display: table-row;
    background-color: #ffffff;
}

.cell {
    display: table-cell;
}
#sensors {
    width:100%;
    height:100%;
    position:absolute;
    top:0;
    left:0;
    pointer-events: none;
}